* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-pink: #b52184;
    --color-blue: #312D64;
    --color-dark-blue: #343193;
    --color-white: #FFF;
}

body {
    max-width: 67.9rem;
}

body, input, textarea {
    font-family: "Mulish", sans-serif;
}

#hero, footer {
    text-align: center;
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

.astronaut img {
    max-width: 364px;
    max-height: 370px;
}

.hero-cta h1 {
    color: var(--color-pink);
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.hero-cta p {
    color: var(--color-blue);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    font-style: normal;
}

.button-down {
    margin-bottom: 9.3rem;
}

#cards {
    padding: 5.3rem 3.9rem;
    background: linear-gradient(96deg, var(--color-dark-blue) 0%, var(--color-dark-blue) 99.68%);
}

section .card{
    border-radius: 2rem;
    padding: 2.6rem;
    background-color: var(--color-white);
    box-shadow: 0px 3.311px 13.243px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5rem;
    --delay: .5s;
    animation: appear .4s var(--delay) backwards;
}


section .card:hover {
    transform: scale(1.1);
}

#cards h2 {
    font-size: 2.9rem;
    font-weight: 900;
    color: var(--color-pink);
    padding-top: 3rem;
}

#cards p {
    font-size: 1.6rem;
    width: 26.5rem;
    color: var(--color-blue);
    margin-top: 1.9rem;
}

.form {
    margin: 4.3rem 4.3rem 3.9rem 2.4rem;
    --delay: .6s;
    animation: appear .4s var(--delay) backwards;
}

.form h3 {
    color: var(--color-pink);
    font-size: 3.2rem;
    font-weight: 900;
    margin: 7.8rem 0 4.3rem;
}

.form input, .form textarea {
    display: flex;
    width: 34.8rem;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1.6rem;
    border: 1.5px solid var(--color-blue);
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
}

.input-container {
    position: relative;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    width: 2rem;
    height: 2rem;
}

.form textarea {
    width: 348px;
    padding: 12px 16px 16px 16px;
}

.form input::placeholder {
    text-align: center;
    color: var(--color-blue);
    font-weight: 600;
    line-height: 100%;
    position: absolute;
    left: 4rem;
}

.form button {
    border: none;
    color: var(--color-white);
    border-radius: 16px;
    height: 4.5rem;
    padding: 1.6rem;
    background: linear-gradient(96deg, var(--color-dark-blue) 0%, var(--color-dark-blue) 99.68%);
}

footer {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(96deg, var(--color-dark-blue) 0%, var(--color-dark-blue) 99.68%);
    padding: 1.6rem;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}

@media (min-width: 1120px) {
    body {
        max-width: 144rem;
    }

    #hero {
        display: flex;
        justify-content: space-between;
        min-height: 83.6rem;
    }

    #hero .hero-cta {
        order: 1;
        margin: auto;
    }

    .hero-cta h1 {
       font-size: 5.9rem;
    }

    .hero-cta p {
        font-size: 3.2rem;
        text-align: left;
    }

    #hero .astronaut {
        order: 2;
    }

    .astronaut img {
        margin-right: 3rem;
        max-width: 72rem;
        max-height: 73.2rem;
    }

    .button-down {
        position: absolute;
        left: 6.9rem;
        margin-top: 8rem;
    }

    #cards {
        display: flex;
        justify-content: center;
        gap: 6rem;
        padding: 3.2rem;
    }

    .form input, .form textarea {
        width: 59.2rem;
    }

    #contact {
        background: url('images/image_11976.png');
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 62.2rem;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: right;
        margin-left: 10.9rem;
    }

    .form {
       flex: 1;
       margin: 0 10.9rem 9.2rem;
    }

    .form .start {
        flex: 1;
    }
}